.GlassPanel {
  background-color: rgba(255, 255, 255, 0.344);
  border: 1px solid rgba(255,255,255,0.1);
  width: 100%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.073);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: auto;
  flex-direction: column;
  display: flex;
  padding-bottom: 20px;
}

.topLeftContent {
  align-self: flex-start;
  color: #000000;
} 
